h1,h2,a,p {
    font-family: "Ubuntu Light", serif;
}

div.chart {
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 400px;
}

div.firstChart {
    margin-top: 10px;
}

div#controls {
    position: fixed;
}